.home-container {
  min-height: 80vh;
  width: 1000px;
  color: #333;
  padding-top: 40px;

  h1 {
    margin: 7px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-description {
  text-align: center;
}

.align-center {
  display: flex;
  align-items: center;
  margin: 4px;
}

.home-features {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;

  p {
    text-align: center;
    justify-content: center;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.home-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  button,
  a {
    padding: 15px 25px;
    font-size: 1rem;
  }
}
